* {
  box-sizing: border-box;
}

#body-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quote-box {
  width: 60%;
  margin: auto;
}

#text,
#author,
#bottom-div {
  font-size: 20px;
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

.quote-mark {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
}

#author {
  padding-bottom: 80px;
  font-size: 16px;
  text-align: right;
}

#bottom-div {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
#new-quote {
  background-color: #222;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border: 3px #333 outset;
  border-radius: 2px;
  color: rgb(150,100,100);
}

#twitterIcon {
  background-color: black;
  font-size: 30px;
}